body{
  font-family: "Open Sans", arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #698496, #e98d0c);
  background-attachment: fixed;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
}
img{
  width: 200px;
  height: 200px;
}
a{
  color: aliceblue;
}
a:hover{
  color: rgb(81, 229, 52);
}
#app{
  align-items: center;
  justify-content: center;
}
#product-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#product-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}
#singleProduct{
  align-items: center;
  justify-content: center;
}
#floatNavRight{
  float: right;
  margin-right: 100px;
}
#singlePageImg{
  width: 300px;
  height: 300px;
}
#tinyImg{
  width: 100px;
  height: 100px;
}
/* cart component */
#prodInCart{
  border-bottom: 1rem;
  box-shadow: 20px;
  border-color: bisque;
}
#productsInCart{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}
#InnerApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navBarComp{
  top: 0;
  right: 0;
  left: 0;
  position: sticky;
  color: #ebbe1b;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 80vw;
  border: none;
  margin-bottom: 100px;
}

button{
  color: #e98d0c;
  background-color: rgba(38, 105, 169, 0.794);
}
input{
  background-color: #698496;
  color: #e98d0c;
}
#edit-form > input{
  width: 5rem;
}
#mappedProd{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6rem;
  color: aliceblue;
}
#userCartCard{
  border: #698496;
  margin-bottom: 100px;
}
